:root{
    --main-bg-color: #393c4d;
    --main-text-color: #fff;
    --nav-bg-color: #0a0d12;
    --img-bg-color: #2e3142;
    --highlight: #60d8f0;
/*    --highlight: #42c8e3;*/
    --highlight2: #3bb4cc;
}
*{
    color: var(--main-text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 12pt;
}
body{
    margin: 0;
    background-color: var(--main-bg-color);
    color:var(--main-text-color);
    min-height: 1vh;
}
/* 

NAV BAR 

*/
nav{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--nav-bg-color);
    position: fixed;
    top: 0;
    width: 100%;
}
nav{
    position: sticky;
    position: -webkit-sticky;
    box-shadow: 0 0 2rem 0 #000;
}
nav ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
nav ul li{
    margin: 0;
}
nav ul li a{
    color: var(--main-text-color);
    text-decoration: none;
    text-align: center;
    display: block;
    height:5rem;
    margin: 0;
    line-height: 5rem;
    padding:0 2rem;
    transition: background-color 0.5s;
    transition: padding 0.5s;
    float: left;
    font-size: 1.5rem;
}
nav ul li a:hover{
    background-color: #202b3d;
    color: #eee;
    padding: 0 3rem;
}
nav ul li a:active{
    padding:0 2rem;
    transition: padding 0.1s;
}
.nav-right{
    float: right;
}
/* 

HEADER 

*/
header{
    width:100%;
    height:15rem;
    font-size: 4rem;
    margin: 0;
    background-color: black;
    text-align: center;
}
.logo, .logo a{
    font-family: 'Oswald', sans-serif;
    font-size: 8rem;
    margin: 0;
    line-height: 15rem;
    color: white;
    user-select: none;
    text-decoration: none;
}
/*

SECTION

*/
section{
    margin: 3rem;
}
section h1{
    font-family: 'Oswald';
    font-size: 5rem;
    margin-bottom: 0;
}
section p{
    line-height: 2.5rem;
    font-size: 1.75rem;
}
.line{
    background-color: white;
    display: block;
    height:0.5rem;
    width:50%;
}
#two-column-home{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
        'p img'
        'p desc';
    grid-gap: 1rem; 
    
}
section img{
    background-color: var(--img-bg-color);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0.1rem 0.1rem 1rem #000;
}
.two-column{
    display:grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    line-height: 2rem;
    font-size: 1.75rem;
}
/*

SCROLL BAR

*/
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track{
    background-color: #111113;
}
::-webkit-scrollbar-thumb{
    background-color: var(--highlight);
    border-radius: 5px;
    transition: 0.5s;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--highlight2);
}
/*

SELECTION

*/
::-moz-selection {
    background-color: var(--highlight);
    color: #000;
}
::selection{
    background-color: var(--highlight);
    color: #000;
}
/*

Other

*/
.s-text, .s-text *{
    line-height: 2.5rem;
    font-size: 1.75rem;
}
footer{
    text-align: center;
    line-height: 3rem;
    color: #99999f;
    bottom: 0;
}
html{
    scroll-behavior: smooth;
}
section h2{
    font-size: 3rem;
    line-height: 2rem;
    font-weight: 400;
}
a, img{
    user-drag: none; 
    -webkit-user-drag: none;
}